<nav class="sb-topnav navbar navbar-expand navbar-dark bg-gradient" style="background-color:#375aa6">
    <a class="ml-3" asp-action="Index" asp-controller="Home" asp-area="">
        <img src="~/image/download.png" class="img-fluid" height="50px;" width="50px;" />
    </a>
    <a class="navbar-brand" style="font-size: 115%; color: #fff" asp-action="Index" asp-controller="Home" asp-area="">License & Support Management</a>
    <button class="btn btn-link btn-sm order-0 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button>
    

    <!-- Navbar Search-->
    <partial name="_NavSearch" />
    <!-- Navbar-->
    <partial name="_NavLogin" />
</nav>